<div class="contaner">
    <div class="center">
        <nav class="element1">
            <div class="title">
                <a routerLink="/dashboard"><img src="./assets/logo.png" alt="logo" width="70px"></a> <!-- bruh-->
                <a class="title2" routerLink="/dashboard">{{title}}</a>
            </div>
            <div class="search">
                <app-search></app-search>
            </div>
        </nav>
        <div class="content element2">
            <div class="app">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer class="element3" style="clear:both;">
            <p class="creator">Creator: Dominik Kłyszyński<br><span style="font-size:10px">Logo: Jan Rakowski</span></p>
        </footer>
    </div>
</div>